/* 导航选中状态 */
.nav__items.active {
  > .nav__link {
    font-weight: bold;
    color: $primary-color;
    position: relative;
    
    .active-indicator {
      margin-left: 0.5em;
      color: $primary-color;
    }
    
    &:before {
      content: "";
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 80%;
      background: $primary-color;
      border-radius: 3px;
    }
  }
}

/* 子导航激活状态 */
.nav__sublist-item .active {
  font-weight: bold;
  color: $link-color-hover;
}

/* 保持原有样式 */
.doc-categories {
  /* 原有样式保持不变 */
}
